<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Monday</key>
	<integer>0</integer>
	<key>Tuesday</key>
	<integer>52000</integer>
	<key>Wednesday</key>
	<integer>71600</integer>
	<key>Thursday</key>
	<integer>91200</integer>
	<key>Friday</key>
	<integer>112600</integer>
	<key>Saturday</key>
	<integer>134000</integer>
</dict>
</plist>
