<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>duration</key>
		<integer>480</integer>
		<key>date</key>
		<date>2016-04-14T17:00:00Z</date>
		<key>location</key>
		<string>Kinoteka200</string>
		<key>artists</key>
		<array/>
		<key>title</key>
		<string>Workshops</string>
		<key>type</key>
		<string>workshop</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>480</integer>
		<key>date</key>
		<date>2016-04-14T17:00:00Z</date>
		<key>location</key>
		<string>KinotekaPool</string>
		<key>artists</key>
		<array/>
		<key>title</key>
		<string>Workshops</string>
		<key>type</key>
		<string>workshop</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>160</integer>
		<key>date</key>
		<date>2016-04-14T18:00:00Z</date>
		<key>location</key>
		<string>KinotekaCinema</string>
		<key>artists</key>
		<array/>
		<key>title</key>
		<string>R2016</string>
		<key>type</key>
		<string>Screening</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>10</integer>
		<key>date</key>
		<date>2016-04-14T22:00:00Z</date>
		<key>location</key>
		<string>KolaracMainHall</string>
		<key>artists</key>
		<array/>
		<key>title</key>
		<string>Opening</string>
		<key>type</key>
		<string>talk</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>60</integer>
		<key>date</key>
		<date>2016-04-14T22:10:00Z</date>
		<key>location</key>
		<string>KolaracMainHall</string>
		<key>artists</key>
		<array/>
		<key>title</key>
		<string>Onedotzero</string>
		<key>type</key>
		<string>screening</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>40</integer>
		<key>date</key>
		<date>2016-04-14T23:10:00Z</date>
		<key>location</key>
		<string>KolaracMainHall</string>
		<key>artists</key>
		<array>
			<string>Bethany Koby</string>
		</array>
		<key>title</key>
		<string></string>
		<key>type</key>
		<string>green</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>40</integer>
		<key>date</key>
		<date>2016-04-15T00:00:00Z</date>
		<key>location</key>
		<string>KolaracMainHall</string>
		<key>artists</key>
		<array>
			<string>Sakchin Bessette Moment Factory</string>
		</array>
		<key>title</key>
		<string></string>
		<key>type</key>
		<string>purple</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>40</integer>
		<key>date</key>
		<date>2016-04-16T17:30:00Z</date>
		<key>location</key>
		<string>KolaracMainHall</string>
		<key>artists</key>
		<array>
			<string>Pau Garcia</string>
			<string>Domestic Data Streamers</string>
		</array>
		<key>title</key>
		<string></string>
		<key>type</key>
		<string>purple</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>40</integer>
		<key>date</key>
		<date>2016-04-16T18:20:00Z</date>
		<key>location</key>
		<string>KolaracMainHall</string>
		<key>artists</key>
		<array>
			<string>Pablo Garcia</string>
		</array>
		<key>title</key>
		<string></string>
		<key>type</key>
		<string>green</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>40</integer>
		<key>date</key>
		<date>2016-04-16T19:10:00Z</date>
		<key>location</key>
		<string>KolaracMainHall</string>
		<key>artists</key>
		<array>
			<string>Romain Tardy</string>
		</array>
		<key>title</key>
		<string></string>
		<key>type</key>
		<string>pink</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>40</integer>
		<key>date</key>
		<date>2016-04-16T20:00:00Z</date>
		<key>location</key>
		<string>KolaracMainHall</string>
		<key>artists</key>
		<array>
			<string>Daniel Hirschmann</string>
		</array>
		<key>title</key>
		<string></string>
		<key>type</key>
		<string>green</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>40</integer>
		<key>date</key>
		<date>2016-04-16T22:00:00Z</date>
		<key>location</key>
		<string>KolaracMainHall</string>
		<key>artists</key>
		<array>
			<string>James Auger</string>
		</array>
		<key>title</key>
		<string></string>
		<key>type</key>
		<string>green</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>40</integer>
		<key>date</key>
		<date>2016-04-16T17:30:00Z</date>
		<key>location</key>
		<string>KinotekaCinema</string>
		<key>artists</key>
		<array>
			<string>Ishac Bertran</string>
		</array>
		<key>title</key>
		<string></string>
		<key>type</key>
		<string>green</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>40</integer>
		<key>date</key>
		<date>2016-04-16T18:20:00Z</date>
		<key>location</key>
		<string>KinotekaCinema</string>
		<key>artists</key>
		<array>
			<string>Ishac Bertran</string>
			<string>Random Studio</string>
		</array>
		<key>title</key>
		<string></string>
		<key>type</key>
		<string>purple</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>40</integer>
		<key>date</key>
		<date>2016-04-16T19:10:00Z</date>
		<key>location</key>
		<string>KinotekaCinema</string>
		<key>artists</key>
		<array>
			<string>Pe Lang</string>
		</array>
		<key>title</key>
		<string></string>
		<key>type</key>
		<string>purple</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>40</integer>
		<key>date</key>
		<date>2016-04-16T20:00:00Z</date>
		<key>location</key>
		<string>KinotekaCinema</string>
		<key>artists</key>
		<array>
			<string>Neil Mendoza</string>
		</array>
		<key>title</key>
		<string></string>
		<key>type</key>
		<string>green</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>40</integer>
		<key>date</key>
		<date>2016-04-16T22:00:00Z</date>
		<key>location</key>
		<string>KinotekaCinema</string>
		<key>artists</key>
		<array>
			<string>Dan Helt BBC</string>
		</array>
		<key>title</key>
		<string></string>
		<key>type</key>
		<string>green</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>30</integer>
		<key>date</key>
		<date>2016-04-16T17:30:00Z</date>
		<key>location</key>
		<string>Kinoteka200</string>
		<key>artists</key>
		<array>
			<string>Jon Whol</string>
		</array>
		<key>title</key>
		<string></string>
		<key>type</key>
		<string>red</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>80</integer>
		<key>date</key>
		<date>2016-04-16T18:10:00Z</date>
		<key>location</key>
		<string>Kinoteka200</string>
		<key>artists</key>
		<array>
			<string>Phoenix Perry</string>
			<string>Rebecca Fiebrink</string>
			<string>Memo Akten</string>
		</array>
		<key>title</key>
		<string>Machine Learning in Arts</string>
		<key>type</key>
		<string>yellow</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>30</integer>
		<key>date</key>
		<date>2016-04-16T19:40:00Z</date>
		<key>location</key>
		<string>Kinoteka200</string>
		<key>artists</key>
		<array>
			<string>Artificial Rome</string>
		</array>
		<key>title</key>
		<string></string>
		<key>type</key>
		<string>red</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>30</integer>
		<key>date</key>
		<date>2016-04-16T20:20:00Z</date>
		<key>location</key>
		<string>Kinoteka200</string>
		<key>artists</key>
		<array>
			<string>Travis Kirton</string>
		</array>
		<key>title</key>
		<string></string>
		<key>type</key>
		<string>red</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>30</integer>
		<key>date</key>
		<date>2016-04-16T22:00:00Z</date>
		<key>location</key>
		<string>Kinoteka200</string>
		<key>artists</key>
		<array>
			<string>Gael Hugo</string>
		</array>
		<key>title</key>
		<string></string>
		<key>type</key>
		<string>red</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>40</integer>
		<key>date</key>
		<date>2016-04-16T17:50:00Z</date>
		<key>location</key>
		<string>KolaracS</string>
		<key>artists</key>
		<array>
			<string>Felicien Goguey HEAD</string>
		</array>
		<key>title</key>
		<string></string>
		<key>type</key>
		<string>grey</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>40</integer>
		<key>date</key>
		<date>2016-04-16T18:40:00Z</date>
		<key>location</key>
		<string>KolaracS</string>
		<key>artists</key>
		<array>
			<string>Gael Hugo ECAL</string>
		</array>
		<key>title</key>
		<string></string>
		<key>type</key>
		<string>grey</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>40</integer>
		<key>date</key>
		<date>2016-04-16T19:30:00Z</date>
		<key>location</key>
		<string>KolaracS</string>
		<key>artists</key>
		<array>
			<string>Cathrine Kramer</string>
		</array>
		<key>title</key>
		<string></string>
		<key>type</key>
		<string>green</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>40</integer>
		<key>date</key>
		<date>2016-04-15T22:00:00Z</date>
		<key>location</key>
		<string>KolaracMainHall</string>
		<key>artists</key>
		<array>
			<string>Joshua Noble</string>
		</array>
		<key>title</key>
		<string></string>
		<key>type</key>
		<string>green</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>40</integer>
		<key>date</key>
		<date>2016-04-15T22:50:00Z</date>
		<key>location</key>
		<string>KolaracMainHall</string>
		<key>artists</key>
		<array>
			<string>Chris Sugrue</string>
		</array>
		<key>title</key>
		<string></string>
		<key>type</key>
		<string>green</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>40</integer>
		<key>date</key>
		<date>2016-04-15T23:40:00Z</date>
		<key>location</key>
		<string>KolaracMainHall</string>
		<key>artists</key>
		<array>
			<string>Karsten Schmidt</string>
		</array>
		<key>title</key>
		<string></string>
		<key>type</key>
		<string>green</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>40</integer>
		<key>date</key>
		<date>2016-04-16T00:30:00Z</date>
		<key>location</key>
		<string>KolaracMainHall</string>
		<key>artists</key>
		<array>
			<string>Kimchi And Chips</string>
		</array>
		<key>title</key>
		<string></string>
		<key>type</key>
		<string>purple</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>40</integer>
		<key>date</key>
		<date>2016-04-15T17:30:00Z</date>
		<key>location</key>
		<string>KinotekaCinema</string>
		<key>artists</key>
		<array>
			<string>Kevin Walker</string>
		</array>
		<key>title</key>
		<string></string>
		<key>type</key>
		<string>blue</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>40</integer>
		<key>date</key>
		<date>2016-04-15T18:20:00Z</date>
		<key>location</key>
		<string>KinotekaCinema</string>
		<key>artists</key>
		<array>
			<string>Pablo Garcia</string>
		</array>
		<key>title</key>
		<string></string>
		<key>type</key>
		<string>green</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>40</integer>
		<key>date</key>
		<date>2016-04-15T19:10:00Z</date>
		<key>location</key>
		<string>KinotekaCinema</string>
		<key>artists</key>
		<array>
			<string>Refik Anadol</string>
		</array>
		<key>title</key>
		<string></string>
		<key>type</key>
		<string>purple</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>40</integer>
		<key>date</key>
		<date>2016-04-15T20:00:00Z</date>
		<key>location</key>
		<string>KinotekaCinema</string>
		<key>artists</key>
		<array>
			<string>Kris Hermansson</string>
		</array>
		<key>title</key>
		<string></string>
		<key>type</key>
		<string>purple</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>40</integer>
		<key>date</key>
		<date>2016-04-15T22:00:00Z</date>
		<key>location</key>
		<string>KinotekaCinema</string>
		<key>artists</key>
		<array>
			<string>Darsha Hewitt</string>
		</array>
		<key>title</key>
		<string></string>
		<key>type</key>
		<string>green</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>40</integer>
		<key>date</key>
		<date>2016-04-15T22:50:00Z</date>
		<key>location</key>
		<string>KinotekaCinema</string>
		<key>artists</key>
		<array>
			<string>Louis Mustill</string>
		</array>
		<key>title</key>
		<string></string>
		<key>type</key>
		<string>purple</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>40</integer>
		<key>date</key>
		<date>2016-04-15T23:40:00Z</date>
		<key>location</key>
		<string>KinotekaCinema</string>
		<key>artists</key>
		<array>
			<string>Squarepusher</string>
			<string>Tom Jenkinson</string>
		</array>
		<key>title</key>
		<string></string>
		<key>type</key>
		<string>pink</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>40</integer>
		<key>date</key>
		<date>2016-04-16T00:30:00Z</date>
		<key>location</key>
		<string>KinotekaCinema</string>
		<key>artists</key>
		<array>
			<string>Murat Pak</string>
		</array>
		<key>title</key>
		<string></string>
		<key>type</key>
		<string>purple</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>80</integer>
		<key>date</key>
		<date>2016-04-15T17:30:00Z</date>
		<key>location</key>
		<string>Kinoteka200</string>
		<key>artists</key>
		<array>
			<string>Panel: ENCAC</string>
		</array>
		<key>title</key>
		<string></string>
		<key>type</key>
		<string>yellow</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>30</integer>
		<key>date</key>
		<date>2016-04-15T19:00:00Z</date>
		<key>location</key>
		<string>Kinoteka200</string>
		<key>artists</key>
		<array>
			<string>Mariska de Groot</string>
		</array>
		<key>title</key>
		<string></string>
		<key>type</key>
		<string>pink</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>30</integer>
		<key>date</key>
		<date>2016-04-15T19:40:00Z</date>
		<key>location</key>
		<string>Kinoteka200</string>
		<key>artists</key>
		<array>
			<string>Dan Hett</string>
		</array>
		<key>title</key>
		<string></string>
		<key>type</key>
		<string>peach</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>30</integer>
		<key>date</key>
		<date>2016-04-15T20:20:00Z</date>
		<key>location</key>
		<string>Kinoteka200</string>
		<key>artists</key>
		<array>
			<string>Entropy</string>
		</array>
		<key>title</key>
		<string></string>
		<key>type</key>
		<string>pink</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>80</integer>
		<key>date</key>
		<date>2016-04-15T22:40:00Z</date>
		<key>location</key>
		<string>Kinoteka200</string>
		<key>artists</key>
		<array>
			<string>Panel WAE</string>
		</array>
		<key>title</key>
		<string></string>
		<key>type</key>
		<string>pink</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>30</integer>
		<key>date</key>
		<date>2016-04-16T00:10:00Z</date>
		<key>location</key>
		<string>Kinoteka200</string>
		<key>artists</key>
		<array>
			<string>Patricio Gonzalez Vivo</string>
		</array>
		<key>title</key>
		<string></string>
		<key>type</key>
		<string>peach</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>40</integer>
		<key>date</key>
		<date>2016-04-15T17:30:00Z</date>
		<key>location</key>
		<string>KolaracS</string>
		<key>artists</key>
		<array>
			<string>Daniel Sciboz</string>
		</array>
		<key>title</key>
		<string></string>
		<key>type</key>
		<string>blue</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>40</integer>
		<key>date</key>
		<date>2016-04-15T18:20:00Z</date>
		<key>location</key>
		<string>KolaracS</string>
		<key>artists</key>
		<array>
			<string>Jhon Fass</string>
		</array>
		<key>title</key>
		<string></string>
		<key>type</key>
		<string>blue</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>40</integer>
		<key>date</key>
		<date>2016-04-15T19:10:00Z</date>
		<key>location</key>
		<string>KolaracS</string>
		<key>artists</key>
		<array>
			<string>Sophie Kravitz</string>
		</array>
		<key>title</key>
		<string></string>
		<key>type</key>
		<string>purple</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>40</integer>
		<key>date</key>
		<date>2016-04-15T20:00:00Z</date>
		<key>location</key>
		<string>KolaracS</string>
		<key>artists</key>
		<array>
			<string>Gorka Cortazar</string>
		</array>
		<key>title</key>
		<string></string>
		<key>type</key>
		<string>purple</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>40</integer>
		<key>date</key>
		<date>2016-04-15T22:00:00Z</date>
		<key>location</key>
		<string>KolaracS</string>
		<key>artists</key>
		<array>
			<string>Dan Hett</string>
		</array>
		<key>title</key>
		<string></string>
		<key>type</key>
		<string>green</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>40</integer>
		<key>date</key>
		<date>2016-04-15T22:50:00Z</date>
		<key>location</key>
		<string>KolaracS</string>
		<key>artists</key>
		<array>
			<string>Rebecca Fiebrink</string>
		</array>
		<key>title</key>
		<string></string>
		<key>type</key>
		<string>blue</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>40</integer>
		<key>date</key>
		<date>2016-04-15T17:30:00Z</date>
		<key>location</key>
		<string>KolaracS</string>
		<key>artists</key>
		<array>
			<string>Daniel Sciboz</string>
		</array>
		<key>title</key>
		<string></string>
		<key>type</key>
		<string>blue</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>20</integer>
		<key>date</key>
		<date>2016-04-16T01:10:00Z</date>
		<key>location</key>
		<string>KinotekaPool</string>
		<key>artists</key>
		<array/>
		<key>title</key>
		<string>Atau Tanaka Performance</string>
		<key>type</key>
		<string>performance</string>
		<key>live</key>
		<true/>
	</dict>
	<dict>
		<key>duration</key>
		<integer>20</integer>
		<key>date</key>
		<date>2016-04-16T01:40:00Z</date>
		<key>location</key>
		<string>KinotekaPool</string>
		<key>artists</key>
		<array/>
		<key>title</key>
		<string>HfK Performance</string>
		<key>type</key>
		<string>performance</string>
		<key>live</key>
		<true/>
	</dict>
</array>
</plist>
